header {
  background-color: #1b68dd;;
  padding-top: 20px;
  padding-bottom:20px;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;

  .title{
    font-size: 3em;
    text-align: center;
    color: #fff;
  }
}
